
/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section { 
	margin: 0; 
	padding: 0;
	border: 0;
} 

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
/************End Reset**************/

/************Global**************/
body { 
	font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif; 
	color: #000;
	text-align: center;
}
a {
	text-decoration: none;
	color: #7f7f7f;
}
a:hover, a:focus {
	color: #000;
}

p {
	margin: 0 0 1em;
}

/************End Global**************/

/************Structure**************/

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
    background: #333;
	background: -moz-linear-gradient(top, #333 0%, #111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111));
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); 
	background: -o-linear-gradient(top, #333 0%,#111 100%); 
	background: -ms-linear-gradient(top, #333 0%,#111 100%); 
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #fff;
}

.navegadorPaginas{
	color:black;
	width:100%;
	height:5em;
	position: relative;
	float: left;
	margin: 0.1em;
	text-align:center;
}

.navegadorPaginas ul{
	display: inline-block;
}

#content {
	padding:10px;
	padding-bottom:4.3em;   /* Height of the footer element */
}

#footer {
	width:100%;
	height:4.3em;
	position:absolute;
	bottom:0;   
}

header[role="banner"] {
	position: relative;
    background: #333;
	background: -moz-linear-gradient(top, #333 0%, #111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111));
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); 
	background: -o-linear-gradient(top, #333 0%,#111 100%); 
	background: -ms-linear-gradient(top, #333 0%,#111 100%); 
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #fff;
}

header[role="banner"] > div {
	max-width: 65em;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	position: relative;
	-webkit-animation: fadein 0.4s ease-out 1;
	-moz-animation: fadein 0.4s ease-out 1;
	-ms-animation: fadein 0.4s ease-out 1;
}

.nav {
	margin: 0 -1em;
	text-align: center;
	text-transform: uppercase;
}

.nav li {
	display: inline-block;
	position: relative;
}

.nav li a {
	display: block;
	padding: 1em;
	border-left: 1px solid #333;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out; 
  	-o-transition: all 0.3s ease-out; 
  	transition:  all 0.3s ease-out;
}
.nav li:first-child a {
	border-left: 0;
}

.content {
	position: relative;
	text-align: left;
	overflow: hidden;
}

.catalogContent{
	padding-left:9.8em;
	float:left;
	width: 40%;
	text-align:center;
}

.product-overview{
	width: 43%;
    margin-right: 4.5em;
}

.simplePagerContainer{
    margin-left: 14em;
}

.logo {
	margin: 0;
	font-size: 1.6em;
	position: relative;
	z-index: 1;
}
.logo a {
	display: block;
	width: 120px;
	height: auto;
	padding: 0.6em 1em 0.4em 0.7em;
}
.logo img {
	width: 120px;
	height: auto;	
}

.product-main {
	padding-bottom: 3em;
}

.product-img {
	float: left;
	width: 50%;
	height: auto;
	margin-top: -4.8em;
}

.product-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 1em;
	width: 100%;
}
.product-overview {
	margin-bottom: 0.85em;	
	padding-top:1em;
	float:right;
	display: inline-block;
}

/*Footer*/
#footer {
	background: #333;
	background: -moz-linear-gradient(top, #333 0%, #111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111));
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); 
	background: -o-linear-gradient(top, #333 0%,#111 100%); 
	background: -ms-linear-gradient(top, #333 0%,#111 100%); 
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	clear: both;
}

#footer > div {
	overflow: hidden;
}

#footer a:hover, .footer a:focus {
	color: #fff;
	background-image: -webkit-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -moz-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -ms-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -o-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
}